<div class="contenedor">
    <ul>
        <li>
            <div class="inputLista">
                <div class="inputText">
                    <input type="checkbox">
                    <p>Task n</p> 
                </div>
                <button>
                    <i class="gg-trash-empty"></i>
                </button>
            </div>
        </li>
        <li>
            <div class="inputLista">
                <div class="inputText">
                    <input type="checkbox">
                    <p class="completada">Task f</p> 
                </div>
                <button>
                    <i class="gg-trash-empty"></i>
                </button>
            </div>
        </li>
        <li>
            <div class="inputLista">
                <div class="inputText">
                    <input type="checkbox">
                    <p>Task j</p> 
                </div>
                <button>
                    <i class="gg-trash-empty"></i>
                </button>
            </div>
        </li>
        <li>
            <div class="inputLista">
                <div class="inputText">
                    <input type="checkbox">
                    <p>Task k</p> 
                </div>
                <button>
                    <i class="gg-trash-empty"></i>
                </button>
            </div>
        </li>
        <li>
            <div class="inputLista">
                <div class="inputText">
                    <input type="checkbox">
                    <p class="completada">Task r</p> 
                </div>
                <button>
                    <i class="gg-trash-empty"></i>
                </button>
            </div>
        </li>
    </ul>   
</div>

